@{
    ViewData["Title"] = "Home";
}

<h2>Apex-Finance Management System</h2>
<p>Manage your expenses easily.</p>

<div style="display: flex; gap: 12px; flex-wrap: wrap; margin-top: 15px;">
    
    <a class="btn btn-success" href="/ExpenseCategories">Categories</a>
    <a class="btn btn-warning" href="/Expenses">Expenses</a>
    <a class="btn btn-info" href="/Expenses/Report">Expense Report</a>
</div>